<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>TGas</title>

	<meta name="author" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" href="/static/publica/css/style.css" type="text/css" />
</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		<div id="logo">
			<h1><a href="/" id="logoLink">
				<img src="/static/publica/img/logo_web.png" />
			</a></h1>
			<h1>Salones de Juego y Apuestas</h1>
		</div>
		<!--
		<div id="nav">
			<ul>
				<li><a href="#/index.html">Inicio</a></li>
				<li><a href="#/salones.html">Salones</a></li>
				<li><a href="#/contacto.html">Contacto</a></li>
			</ul>
		</div>
<!-- Contenido común -->

{% block contenido-comun%}{% endblock%}

<!-- FIN Contenido común -->


		<div id="footer">
		<!--
		     <p>
				&nbsp;
			</p>
		-->
		</div>
	</div>
</body>
</html>
</html>