{% extends "publica/base.html"%}

{% block contenido-comun%}
		<div id="content">
            <center>
            <table>
                <tbody>

            <tr>
<!-- ------------------------------------------------------------------------------------  O Burgo  ----------------------------------------------->
               <td>
                <h2>O Burgo</h2>
                <p>
                    Avda. Acea da Ma, 14 bajo.
                </p>
                <p>
                    15670 - Culleredo (A Coru&ntilde;a)
                </p>
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.8463699173744!2d-8.371055048537515!3d43.31747537903183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e64c403336c17%3A0xf97ce99cd18d84ff!2sSlot+21!5e0!3m2!1ses!2ses!4v1493315817076" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
               </td>
<!-- ------------------------------------------------------------------------------------  Ponteareas  ----------------------------------------------->
               <td>
                <h2>Ponteareas</h2>
                <p>
                    Avda. de Galicia, 16 bajo.
                </p>
                <p>
                    36860 - Ponteareas (Pontevedra)
                </p>
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2956.8990452410917!2d-8.504549384544102!3d42.1738409791998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2581ebb92ea785%3A0xa533619f2b16efc0!2sAv.+Galicia%2C+16%2C+36860+Puenteareas%2C+Pontevedra!5e0!3m2!1ses!2ses!4v1493975987617" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
               </td>
           </tr>
<td>
_______________________________________________________________________
</td>
<td>
_______________________________________________________________________
</td>
	 <tr>
	 </tr>
	 <tr>
	 </tr>
<!-- ------------------------------------------------------------------------------------  Santiago de Chile  ----------------------------------------------->
               <td>
                <h2>Santiago</h2>
                <p>
                    c/ Santiago de Chile,5 bajo.
                </p>
                <p>
                    15701 - Santiago de Compostela (A Coru&ntilde;a)
                </p>
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.9771526338955!2d-8.553468684521942!3d42.873326379155685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2efe156a64bbf3%3A0x1a334dbab5b52aef!2sR%C3%BAa+de+Santiago+de+Chile%2C+5%2C+15701+Santiago+de+Compostela%2C+A+Coru%C3%B1a!5e0!3m2!1ses!2ses!4v1493976398045" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>               </td>
<!-- ------------------------------------------------------------------------------------  Vilarrodis  ----------------------------------------------->
		<td>
                <h2>Vilarrodís</h2>
                <p>
                    Avda. Alcalde Manuel Platas Varela, 81 bajo.
                </p>
                <p>
                    15141 Arteixo (A Coru&ntilde;a)
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.8657845415933!2d-8.484433648687006!3d43.31706898201607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e62a99770dacd%3A0x3f53037d37a72a3e!2zQ2Fmw6k6U2xvdCAyMTogU2Fsw7NuIERlIFhvZ29z!5e0!3m2!1ses!2ses!4v1493315118363" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
               </td>
               <td>
                &nbsp;
               </td>

            </tr>
                </tbody>
            </table>
            </center>
		</div>

{% endblock%}

