{% extends "backoffice/base.html"%}

{% block contenido_ppal%}

<script>
    $(function () {
        $("#id_fecha_paso_historico").datepicker();
        $("#id_fecha_paso_historico").mask("99/99/9999", {placeholder: "dd/mm/aaaa"});
        $("#id_hora_paso_historico").mask("99:99", {placeholder: "hh:mm"});
    });
</script>

<!-- Main content -->
<section class="content">

    <form id="form1" action="" method="post">{% csrf_token %}
        <input type="hidden" name="dato_id" value="{{ dato_id }}">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body" style="overflow:auto">
                        <table>
                            <tbody>
                            <td id="datos-izquierda">
                                <table class="uifmaestros">
                                    <tbody>
                                    <tr>
                                        <td>Código:</td>
                                        <td>
                                            <p>{{ formulario.codigo }}</p>
                                            <h6>{% for error in formulario.codigo.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nombre:</td>
                                        <td>
                                            <p>{{ formulario.nombre }}</p>
                                            <h6>{% for error in formulario.nombre.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Provincia:</td>
                                        <td>
                                            <p>{{ formulario.provincia }}</p>
                                            <h6>{% for error in formulario.provincia.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dirección:</td>
                                        <td>
                                            <p>{{ formulario.direccion }}</p>
                                            <h6>{% for error in formulario.direccion.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Observaciones:</td>
                                        <td>
                                            <p>{{ formulario.observaciones }}</p>
                                            <h6>{% for error in formulario.observaciones.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td id="datos-derecha">
                                <table class="uifmaestros">
                                    <tbody>
                                    <tr>
                                        <td>Posición gps:</td>
                                    </tr>
                                    {% if modo_sololectura %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" href="/estaciones/ver_mapa?dato_id={{ dato_id }}"
                                               role="button">Ver en Mapa</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="https://maps.google.com/maps?q={{ formulario.instance.posicion_gmaps }}&ll={{ formulario.instance.posicion_gmaps }}&z=17"
                                               role="button">Ver en Google Maps</a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td>Latitud:</td>
                                        <td>
                                            <p>{{ formulario.geo_latitud }}</p>
                                            <h6>{% for error in formulario.geo_latitud.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Longitud:</td>
                                        <td>
                                            <p>{{ formulario.geo_longitud }}</p>
                                            <h6>{% for error in formulario.geo_longitud.errors %}<span style="color:red">{{ error|escape }}</span>{% endfor %}</h6>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if modo_sololectura %}
                                        <tr>
                                            <td>Token de acceso:</td>
                                            <td><b>{{ formulario.instance.token }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>Precio del combustible:</td>
                                        </tr>
                                        {% for precio in formulario.instance.precios %}
                                            <tr>
                                                <td>{{ precio.combustible.nombre|title }}:</td>
                                                <td>{{ precio }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>Precio del combustible:</td>
                                            {% for error in formulario.get_precios_errors %}
                                                <td style="color:red"> {{ error.0 | escape }} </td>
                                            {% endfor %}
                                        </tr>
                                        {% for field in formulario.get_precios_fields %}
                                            <tr>
                                                <td>{{ field.0 }}</td>
                                                <td>{{ field.1 }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </td>
                            </tbody>
                        </table>
                    </div> <!-- /.box-body -->
                </div>         <!-- /.box -->
                {{ barra_botones|safe }}
            </div>        <!-- /.col -->
        </div>      <!-- /.row -->
    </form>
</section>    <!-- /.content -->


{% endblock%}
    
    