
{% extends "backoffice/base.html"%}

{% block contenido_ppal%}
<script>
    $(document).ready(function() {
        $("#tprovincia").DataTable({
            "language": {
                "url": "/static/backoffice/plugins/datatables/plug-ins/1.10.13/i18n/Spanish.json"
                    },
            "order": [[ 0, "asc" ]],
            "bPaginate": true,
            "bFilter": true,
            "bInfo": true,
            "columnDefs": [
                { className: "text-left", "targets": [0,1] },
                { className: "text-right", "targets": [3] },
                { className: "text-center", "targets": [] },
                {targets: [2], type: 'moneda'}
                ],
            "fnInitComplete": function (oSettings) {
              $('.dataTables_filter').each(function () {
                    $(this).append('&nbsp;<a class="btn btn-social-icon btn-linkedin" data-toggle="tooltip" title="Añadir datos" href="add"><i class="fa fa-plus"></i></a>&nbsp;<a class="btn btn-social-icon btn-linkedin" data-toggle="tooltip" title="Exportar a Excel" href="#"><i class="fa fa-file-excel-o"></i></a>');
              });
            },
        });
      }
    );
</script>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-body" style="overflow:auto">

              <table id="tprovincia" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Comunidad autónoma</th>
                  <th>Cantidad de Estaciones</th>
                </tr>
                </thead>
                <tbody>

{% for dato in l_datos%}
                <tr>
                    <td> <a href="/provincia/edit/?dato_id={{ dato.id}}">{{ dato.codigo }}</a></td>
                    <td> {{ dato.nombre }} </td>
                    <td> {{ dato.ccaa.nombre }} </td>
                    <td> {{ dato.estacion_set.all.count }} </td>
                </tr>
{%endfor%}

                </tbody>
              </table>
            </div>            <!-- /.box-body -->
          </div>          <!-- /.box -->
        </div>        <!-- /.col -->
      </div>      <!-- /.row -->
    </section>    <!-- /.content -->


{% endblock%}
    
    