{% extends "backoffice/base.html"%}

{% block contenido_ppal%}
{% load app_filters %}

    <!-- Main content -->
    <section class="content">


      <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-body">
    <table class="uifmaestros"><tbody>
    <tr><td> Usuario: </td><td>&nbsp;</td>
        <td><input readonly="readonly" size="16" value="{{ usuario_a_modif.username }}" type="text"></td>

    <td>  Nombre: </td><td>&nbsp;</td>
        <td><input readonly="readonly" size="50" value="{{ usuario_a_modif.nombre }}" type="text"></td>

    </tr>
    </tbody></table>
            </div>  <!-- /.box-body -->
          </div> <!-- /.box-primary -->
          <div class="box box-primary">
            <div class="box-body">
    <table class="uifmaestros">
        <tbody>
    <tr><th>  Titular: </th><td>&nbsp;</td>
        <td><input readonly="readonly" size="50" value="{{ usuario_a_modif.titular.razon_social }}" type="text"></td>
    </tr>
    <tr><th>  CIF: </th><td>&nbsp;</td>
        <td><input readonly="readonly" size="16" value="{{ usuario_a_modif.titular.cif }}" type="text"></td>
    </tr>
    <tr><th>  Nuevo Password: </th><td>&nbsp;</td>
        <td><h3>{{ password }}</h3></td>
    </tr>

    </tbody></table>
            </div>
	</form>
            </div>
            <a class="btn btn-primary" href="/imprime_cartas_acceso?user_id={{usuario.id}}" role="button">Imprimir carta acceso</a>
            <!-- /.box-body -->
          </div>

          <!-- /.box -->
        <!--</div>-->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->


{% endblock%}

